/* .wall{
  background-image: url(https://img.freepik.com/foto-gratis/jukebox-radio-antiguo-vintage-render-3d_44074-4769.jpg?size=626&ext=jpg);
  background-color: #a195b6;
}

.formulario {
  background: rgba(0, 0, 0, .3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  color: white;
}

.form-control {
  background: rgba(0, 0, 0, .3);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  background: #8A795D33;
  box-shadow: none;
  outline: none;
}

.form-control::placeholder {
  color: white;
}

.ingresar {
  background: #082567 ;
  border: #082567;
  padding: 7px 125px;
  font-size: 14px;
  font-weight: 700!important;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  transition: 0.5s ease-in;
}

.ingresar:hover {
  color: white;
}

.olvide {
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
}

.olvide:hover {
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}

.olvide1 {
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 700!important;
  /* border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
}

.olvide1:hover {
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}


/* Estilo datatable

.tablacancion {
  background: rgba(0, 0, .2, .3);
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  color: white;
  margin-top:1%;
  margin-left: 23%;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #5DC1B9;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #46403833;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  color: #FFFFFF;
  background-color: #8A795D33;
  margin-left: 3px;
} */

@import "./../Frontend/styles/settings/breakpoints.scss";




:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: 100%;
}

.main-app {
    // : 1;-webkit-box-flex
    flex: 1 1 auto;
    display: flex;
    padding-bottom: 80px;
    height: 100%;
    &.player-collapsed {
        padding-bottom: 55px;
        @include breakpoint($narrow-devices) {
            padding-bottom: 80px;
        }
    }
}
.sidenav {
    box-shadow: 10px 0 40px -4px rgba(0,0,0,.3);
}
.sidenav.mat-sidenav.mat-sidenav-side {
    z-index: 2;
    height: calc(100% - 80px);
}

.main-content {
    padding: 1rem;
    padding: {
        bottom: 4rem;
    }
    @include breakpoint($narrow-devices) {
        padding: 2rem;
        padding: {
            bottom: 100px;
        }
    }
}
