<p>{{content}}</p>
<p>login works!</p>

<textarea [(ngModel)]="text" aria-label="test"></textarea><br>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input type= 'text' matInput ngModel title='ngModel' name= title >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Summary</mat-label>
    <input type= 'text' matInput ngModel summary='ngModel' name = 'summary' placeholder="info">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Content</mat-label>
    <textarea type = 'text' matInput nngModel content = 'ngModel' name = 'content' placeholder="Search"></textarea>
  </mat-form-field>

  <button type = 'submit' class="btn btn-outline-primary ingresar" (click)="showtext()">INGRESAR</button>
</form>



<div class="container">
    <div class="row justify-content-center pt-5 mt-5 mr-1">
        <div class="col-md-4 formulario">
            <form class='row g-3' action="/login" method="POST">
                <div class="text-center">
                    <h1 class="text-light fs-4">INICIAR SESIÓN</h1>
                </div>
                <div class="pt-6">
                    <input type="email" name = 'email' class="form-control text-light"  onkeyup="javascript:this.value=this.value.toLowerCase();"placeholder="Ingrese su Email">
                </div>
                <div class="">
                    <input type="password" name = 'password' class="form-control text-light " id="inputPassword2" placeholder="Ingrese su Contraseña">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary ingresar">INGRESAR</button>
                </div>
                <div class="text-center pt-3">
                    <span><a href="" class="olvide1">REGISTRARSE</a></span>
                </div>
            </form>
        </div>
    </div>
</div>




