#navigation,.navbar .navbar-default{
  border-top: 2px dotted blue;
  border-bottom: 2px dotted blue;
  background-image: url("../../../assets/images/hero-bg.png");

  background: url('../../../assets/images/hero-bg.png');
  font-style: zapfino;
}
